<footer class="footer">
  <section class="contact-details">
    <h4 class="footer-title">Reach me out!</h4>
    <address class="footer-email">brunogarcia84@gmail.com</address>
    <a href="tel:+380961644279" class="footer-phone">+380 96 164 4279</a>
  </section>

  <section class="social-media">
    <ul class="footer-list">
      <li class="list-item">
        <a href="https://www.github.com"
          ><img src="/img/github.png" alt=""
        /></a>
      </li>

      <li class="list-item">
        <a href="https://www.linkedin.com"
          ><img src="/img/linkedin.png" alt=""
        /></a>
      </li>

      <li class="list-item">
        <a href="https://www.instagram.com"
          ><img src="/img/instagram.png" alt=""
        /></a>
      </li>
    </ul>
  </section>

  <section class="subfooter">
    <span class="copyright">2023 | All Rights Reserved | Free Will</span>
  </section>
</footer>
