<header class="header">
  <h2 class="header-logo"><a href="/">Free Will</a></h2>

  <div class="block">
    <ul class="nav-list">
      <li class="list-item"><a href="/">Home</a></li>
      <li class="list-item"><a href="/about">About</a></li>
      <li class="list-item"><a href="/articles">Articles</a></li>
      <li class="list-item"><a href="/contact">Contact</a></li>
    </ul>

    <ul class="social-media-list">
      <li class="list-item">
        <a href="#"><img src="/img/github.png" alt="" /></a>
      </li>
      <li class="list-item">
        <a href="#"><img src="/img/linkedin.png" alt="" /></a>
      </li>
      <li class="list-item">
        <a href="#"><img src="/img/instagram.png" alt="" /></a>
      </li>
    </ul>
  </div>
</header>
