.header {
  background-color: hsla(210, 11%, 15%, 60%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--size-xs) + 10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.header-logo {
  font-size: var(--size-sm);
  font-weight: var(--bold);
}

.header-search {
  margin-left: var(--size-sm);
}

.nav-list {
  display: flex;
  border-right: 1px solid var(--grey90);
}

.nav-list > .list-item:nth-child(4) {
  margin-right: var(--size-md);
}

.nav-list .list-item > a {
  padding-bottom: calc(var(--size-xs) - 10px);
  transition: ease-in-out 0.2s;
}

.nav-list .list-item > a:hover {
  border-bottom: 2px solid var(--white-pepper);
}

.social-media-list {
  border-right: 1px solid var(--grey90);
  margin-right: var(--size-xl);
}

.social-media-list > .list-item:nth-child(3) {
  margin-right: var(--size-md);
}

.social-media-list {
  display: flex;
}

.list-item {
  margin-left: var(--size-md);
  font-weight: var(--bold);
}
