@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url(./variables.css);
@import url(./header.css);
@import url(./hero.css);
@import url(./topics.css);
@import url(./highlighted-post.css);
@import url(./editors-pick.css);
@import url(./footer.css);

body {
  font-family: var(--font-family);
  background-color: var(--grey90);
  color: var(--blue-charcoal);
}

a {
  color: var(--grey90);
  text-decoration: none;
}

span {
  display: inline;
}

.wrapper {
  max-width: calc(var(--size-xl) * 23);
  margin: 0 auto;
}

.block {
  display: flex;
  align-items: center;
}

.inner-block {
  display: flex;
  flex-direction: column;
  margin: var(--size-xs) 0;
}

.highlighted-block {
  display: flex;
  flex-direction: column;
  width: calc(var(--size-xl) * 12);
}

.section-title-main {
  font-size: var(--size-lg);
  font-weight: var(--bold);
  margin: calc(var(--size-xl) * 2.5) 0 var(--size-md) var(--size-md);
}

.coming-soon {
  font-size: var(--size-lg);
  font-weight: var(--black);
  margin: var(--size-lg) auto;
  text-align: center;
}

.coming-soon-illustration {
  display: block;
  margin: var(--size-lg) auto;
}
