@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url(./variables.css);
@import url(./header.css);
@import url(./hero.css);

body {
  font-family: var(--font-family);
  background-color: var(--grey90);
  color: var(--blue-charcoal);
}

a {
  color: var(--grey90);
  text-decoration: none;
}

.block {
  display: flex;
  align-items: center;
}

.coming-soon {
  font-size: var(--size-lg);
  font-weight: var(--black);
  margin: var(--size-lg) auto;
  text-align: center;
}

.coming-soon-illustration {
  display: block;
  margin: var(--size-lg) auto;
}
