<section id="hero">
  <div class="block">
    <div class="inner-block">
      <span class="section-card">Ufology</span>
      <h1 class="section-title">
        Richird Norton photorealistic rendering as real photos
      </h1>
      <time class="datetime" datetime="2022-12-20">12.20.2022</time>
      <p class="section-text">
        Progressively incentivize cooperative systems through technically sound
        functionality. The credibly productivate seemless data.
      </p>
    </div>
  </div>
</section>

<div class="wrapper">
  <h2 class="section-title-main">Topics</h2>
  <section id="topics">
    <div class="section-filter">
      <ul class="filter-list">
        <li class="list-item"><a href="#">All</a></li>
        <li class="list-item"><a href="#">Ufology</a></li>
        <li class="list-item"><a href="#">Lectures</a></li>
        <li class="list-item"><a href="#">Music</a></li>
        <li class="list-item"><a href="#">Web</a></li>
        <li class="list-item"><a href="#">Aviation</a></li>
      </ul>
      <span class="section-filter_view-all"><a href="#">View All</a></span>
    </div>

    <main id="cards">
      <article class="cards-posts">
        <figure class="section_illustration">
          <img src="/img/blog-image1.png" alt="" />
        </figure>
        <time class="datetime" datetime="2022-12-21">12.21.2022</time>
        <h4 class="section-title">
          Dream destinations to visit this year in Paris.
        </h4>
        <p class="section-text">
          Progressively incentivize cooperative systems through technically
          sound functionalities. Credibly productivate seamless data with
          flexible schemas.
        </p>
      </article>

      <article class="cards-posts">
        <figure class="section_illustration">
          <img src="/img/blog-image2.png" alt="" />
        </figure>
        <time class="datetime" datetime="2022-12-21">12.22.2022</time>
        <h4 class="section-title">
          Breathtaking first-person photos around Europe.
        </h4>
        <p class="section-text">
          Progressively incentivize cooperative systems through technically
          sound functionalities. Credibly productivate seamless data with
          flexible schemas.
        </p>
      </article>

      <article class="cards-posts">
        <figure class="section_illustration">
          <img src="/img/blog-image3.png" alt="" />
        </figure>
        <time class="datetime" datetime="2022-12-21">12.23.2022</time>
        <h4 class="section-title">
          What collectors need to know about authenticity.
        </h4>
        <p class="section-text">
          Progressively incentivize cooperative systems through technically
          sound functionalities. Credibly productivate seamless data with
          flexible schemas.
        </p>
      </article>
    </main>
  </section>
</div>

<section id="highlighted-post">
  <span class="section-card">Aviation</span>
  <div class="highlighted-block">
    <h2 class="section-title">
      Richird Norton photorealistic rendering as real photos
    </h2>
  </div>
  <div class="highlighted-block-text">
    <p class="section-text">
      Progressively incentivize cooperative systems through technically sound
      functionality. The credibly productivate seemless data.
    </p>
  </div>
  <time class="datetime" datetime="2022-12-20">12.20.2022</time>
</section>

<h2 class="section-title-main">Editor's Pick</h2>
<section id="editors-pick">
  <article class="cards">
    <div class="inner-block">
      <time class="datetime" datetime="2022-12-20">12/20/2022</time>
      <h2 class="section-title">
        Richird Norton photorealistic rendering as real photos
      </h2>
      <p class="section-text">
        Progressively incentivize cooperative systems through technically sound
        functionality. The credibly productivate seemless data.
      </p>
    </div>
  </article>

  <article class="cards">
    <div class="inner-block">
      <time class="datetime" datetime="2022-12-20">12/21/2022</time>
      <h2 class="section-title">
        Richird Norton photorealistic rendering as real photos
      </h2>
      <p class="section-text">
        Progressively incentivize cooperative systems through technically sound
        functionality. The credibly productivate seemless data.
      </p>
    </div>
  </article>

  <article class="cards">
    <div class="inner-block">
      <time class="datetime" datetime="2022-12-20">12/22/2022</time>
      <h2 class="section-title">
        Richird Norton photorealistic rendering as real photos
      </h2>
      <p class="section-text">
        Progressively incentivize cooperative systems through technically sound
        functionality. The credibly productivate seemless data.
      </p>
    </div>
  </article>
</section>
